   
   <% layout ("/layouts/boilerplate") %>

    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 1rem;
        opacity: 0.7;
      }

      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }

      .filter{
        font-size: 0.8rem;
      }

      .tax-info{
        text-decoration: none;
      }

      .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-right: 7rem;
        display: flex;
        align-items: center;
      }
    </style>

    <div id="filters">

      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>

      
      <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Iconic Cities</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castels</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-tent"></i></div>
        <p>Camping</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-wheat-awn"></i></div>
        <p>Farms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Dome</p>
      </div>
      

      <div class="tax-toggle">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
        </div>
      </div>
    </div>


<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-3"  >
        <% for(let listings of allListings) {%>
          <a href="/listings/<%= listings.id %>" class="listing-link">
            <div class="card col listing-card" style="width: 20rem;">
                <img 
                class="card-img-top" 
                src="<%=listings.image.url%>" 
                alt="listing" 
                style="height: 20rem;"
                />
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b> <%= listings.title %> </b> <br/>
                    &#8377; <%= listings.price %>/Night  <i class="tax-info"> &nbsp; +18% GST</i><br/>
                    Category: <% if (listings.category) { %>
                      <%= listings.category + listings.category.slice(1) %>
                    <% } else { %>
                      No category
                    <% } %>
                  </p>
                </div>
              </div>
        <% } %>
</div>


<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click" , () =>{
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }
      else{
        info.style.display = "none";
      }
    }
  })
</script>


    

